 @media (min-width: 768px) and (max-width: 1024px) {
            body {
                font-size: 16px;
            }

            img {
                max-width: 600px;
            }
            .styling{color:blue;
                    font-size:22px; }

        }